<a routerLink="/">Gå till hemsida</a>

@if (post !== undefined) {
<article>
  <h1>{{ post.title }}</h1>

  <p>{{ post.creationDate | date : "d MMMM yyyy" }}</p>

  <div>
    <span (click)="incrementLikes()">
      <fa-icon [icon]="faThumbsUp"></fa-icon>{{ likes }}
    </span>

    <span (click)="incrementDislikes()">
      <fa-icon [icon]="faThumbsDown"></fa-icon>{{ dislikes }}
    </span>
  </div>
  <img [src]="post.thumbnailUrl" />

  <p>{{ post.body }}</p>
</article>

<comments [postId]="postId"></comments>

}
