<a routerLink="/">Gå till hemsida</a>

@if (post !== undefined) {
<article>
  <h1>{{ post.title }}</h1>

  <p>{{ post.creationDate | date : "d MMMM yyyy" }}</p>

  <div>
    <span (click)="likePost()">
      <fa-icon [icon]="faThumbsUp"></fa-icon>{{ likes }}
    </span>

    <span (click)="dislikePost()">
      <fa-icon [icon]="faThumbsDown"></fa-icon>{{ dislikes }}
    </span>

    <span>
      <fa-icon [icon]="faComment"></fa-icon>{{ post.comments.length }}
    </span>
  </div>
  <img [src]="post.thumbnailUrl" />

  <p>{{ post.body }}</p>
</article>

<h2>{{ post.comments.length }} Kommentarer</h2>
@for(comment of post.comments; track $index){
<comment-item [comment]="comment"></comment-item>
} }
