<main>
  <div>
    <img src="img/profile.jpg" alt="En profilbild på Esther Möller" />
    <h1>Hej, det är Esther Möller.</h1>
    <p>
      Jag driver resebloggen Nomad, är född 1980 och är en copywriter som alltid
      är på resande fot på jakt efter nya äventyr. Här på Nomad delar jag med
      mig en mix av banala, spännande och roliga berättelser varje vecka. Även
      om du oftast hittar mig på olika delar av världen går det att kontakta
      mig.
    </p>
  </div>
  <!-- <contact-form></contact-form> -->
</main>
